name: Run Python Script Daily

on:
  schedule:
    # Runs at 9:32 AM IST (which is 4:02 AM UTC due to offset)
    - cron: '2 4 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run script
      run: python script.py

    - name: Upload CSV file
      uses: actions/upload-artifact@v4
      with:
        name: daily-gainers-csv
        path: ./*.csv
        retention-days: 30
