name: Run Python Script Daily

on:
  schedule:
    # Runs at 9:30 AM IST (which is 4:00 AM UTC due to offset)
    - cron: '0 4 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
       run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

    - name: Run script
      run: python script.py
