name: Run Python Script Daily

on:
  schedule:
    # Runs at 9:30 AM IST (which is 4:00 AM UTC due to offset)
    - cron: '0 4 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Run script
      run: python script.py
